In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [2]:
## load the dataset 
data = pd.read_csv('data/Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [4]:
## preprocess the dataset 
### Drop irrelevent columns
data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1, inplace=True)

In [5]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [7]:
data.columns

Index(['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary',
       'Exited'],
      dtype='object')

In [8]:
## Enable categorical variables
labelencoder = LabelEncoder()

data['Gender'] = labelencoder.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [9]:
## for Geography, we will use one-hot encoding
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
geography_encoded = ohe.fit_transform(data[['Geography']]).toarray()
geography_encoded_df = pd.DataFrame(geography_encoded, columns=ohe.get_feature_names_out(['Geography']))

In [10]:
geography_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [11]:
## combine the one-hot encoded geography columns with the original dataframe
data = pd.concat([data, geography_encoded_df], axis=1)
data.drop('Geography', axis=1, inplace=True)

In [12]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [13]:
## Save the encoders and Scaler 
with open ('labelencoder.pkl', 'wb') as file:
    pickle.dump(labelencoder, file)

with open('onehot_encoder_geo.pkl', 'wb') as  file:
    pickle.dump(ohe, file)

In [14]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [15]:
## Devide the dataset into independent and dependent variables
X = data.drop('Exited', axis=1)
y= data['Exited']

In [16]:
# split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
## sclae thease this feature 
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [18]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((8000, 12), (2000, 12), (8000,), (2000,))

In [19]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [20]:
## save the scaler
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN implementation

In [21]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense , Dropout
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

WARNING:tensorflow:From d:\365 projects\Ann classification\ANN-Classification-Project\Ann\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [22]:
(X_train.shape[1],)

(12,)

In [23]:
## Build our ANN model

model = Sequential([
    Dense(64 , activation = 'relu',input_shape=(X_train.shape[1],)),## HL1 Connected with input layer 
    Dense(32 , activation='relu'), ## HL2 Conectted with HL1
    Dense(1,activation='sigmoid') ## Output layer
 ])

WARNING:tensorflow:From d:\365 projects\Ann classification\ANN-Classification-Project\Ann\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [24]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [25]:
op = tf.keras.optimizers.Adam(learning_rate=0.01)
loss = tf.keras.losses.BinaryCrossentropy()

In [26]:
## compile the model 
model.compile(optimizer=op,loss='binary_crossentropy',metrics=['accuracy'])

In [27]:
## setup the TensorBoard 

log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [28]:
## set up early stopping
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10 , restore_best_weights= True)

In [29]:
# train the model 
history = model.fit(X_train , y_train,validation_data=(X_test,y_test),epochs=100,
                callbacks = [tensorboard_callback,early_stopping_callback]    
                    )

Epoch 1/100
WARNING:tensorflow:From d:\365 projects\Ann classification\ANN-Classification-Project\Ann\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\365 projects\Ann classification\ANN-Classification-Project\Ann\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 8s 8ms/step - loss: 0.4059 - accuracy: 0.8320 - val_loss: 0.3555 - val_accuracy: 0.8570
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3572 - accuracy: 0.8580 - val_loss: 0.3469 - val_accuracy: 0.8595
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3477 - accuracy: 0.8580 - val_loss: 0.3379 - val_accuracy: 0.8645
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3432 - accuracy: 0.8611 - val_loss: 0.3423 - val_accuracy: 0.8640
Epoch 5/100
250/250 [==============================] - 2s 7ms/step - loss: 0.3420 - accuracy: 0.8609 - val_loss: 0.3593 - val_accuracy: 0.8545
Epoch 6/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3385 - accuracy: 0.8618 - val_loss: 0.3468 - val_accuracy: 0.8570
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3358 - accuracy: 0.8631 - val_loss: 0.3386 - val_accuracy: 0.8595
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3339 - accuracy: 0.8633 - val_loss: 0.3441 - val_accuracy: 0.8640
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3290 - accuracy: 0.8660 - val_loss: 0.3654 - val_accuracy: 0.8565
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3287 - accuracy: 0.8668 - val_loss: 0.3472 - val_accuracy: 0.8545
Epoch 11/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3270 - accuracy: 0.8665 - val_loss: 0.3478 - val_accuracy: 0.8545
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3235 - accuracy: 0.8679 - val_loss: 0.3419 - val_accuracy: 0.8615
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3199 - accuracy: 0.8699 - val_loss: 0.3399 - val_accuracy: 0.8610

In [39]:
## save the model 
model.save('model.h5')

In [40]:
## load Tensorboard Extension 
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [44]:
%tensorboard --logdir logs/fit/

Reusing TensorBoard on port 6006 (pid 2748), started 2:36:04 ago. (Use '!kill 2748' to kill it.)

In [33]:
## load the pickle file