In [21]:
import pandas as pd 
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler , OneHotEncoder,LabelEncoder
import pickle

In [22]:
data = pd.read_csv('Data\Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [23]:
# Data Preprocessing
data.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

In [24]:
# Encoding Categorical Data
labelencoder = LabelEncoder()
data['Gender']= labelencoder.fit_transform(data['Gender'])

In [25]:
# one hot encoding for categorical variable
ohe = OneHotEncoder()
geo_encoded = ohe.fit_transform(data[['Geography']]).toarray()
geo_encoded = pd.DataFrame(geo_encoded, columns=ohe.get_feature_names_out(['Geography']))
data = pd.concat([data, geo_encoded], axis=1)
data.drop(['Geography'], axis=1, inplace=True)

In [26]:

data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [27]:
# split the data into features and target 
X= data.drop(['EstimatedSalary'],axis=1)
y= data['EstimatedSalary']

In [28]:
# split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [29]:
# scale the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [30]:
# save the encoders and scaler for later use 
with open ('labelencoder2.pkl','wb') as file:
    pickle.dump(labelencoder,file)

with open ('ohe2.pkl','wb') as file:
    pickle.dump(ohe,file)


with open ('scaler2.pkl','wb') as file:
    pickle.dump(scaler,file)

In [31]:
## Ann regression problemstatement
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [32]:
model = Sequential([
    Dense(64, activation = 'relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation = 'relu'),
    Dense(1, activation = 'linear') # output layer for regression 
])

# compile the model 
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

model.summary()

WARNING:tensorflow:From d:\365 projects\Ann classification\ANN-Classification-Project\Ann\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From d:\365 projects\Ann classification\ANN-Classification-Project\Ann\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [33]:
from tensorflow.keras.callbacks import EarlyStopping , TensorBoard
import datetime

# set up Tensorboard 
log_dir = "regressionLOgs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [ ]:
## set up Early Stopping 

early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [35]:
# train the model 
history = model.fit(X_train , y_train,
                    validation_data=(X_test, y_test),
                    epochs=100,
                    callbacks=[tensorboard_callback, early_stopping_callback])

Epoch 1/100
WARNING:tensorflow:From d:\365 projects\Ann classification\ANN-Classification-Project\Ann\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\365 projects\Ann classification\ANN-Classification-Project\Ann\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 5ms/step - loss: 100377.9688 - mae: 100377.9688 - val_loss: 98518.6328 - val_mae: 98518.6328
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 99642.7969 - mae: 99642.7969 - val_loss: 97045.4844 - val_mae: 97045.4844
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 97080.2812 - mae: 97080.2812 - val_loss: 93296.8828 - val_mae: 93296.8828
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 92022.0625 - mae: 92022.0625 - val_loss: 87013.5078 - val_mae: 87013.5078
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 84637.9531 - mae: 84637.9531 - val_loss: 78955.5625 - val_mae: 78955.5625
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 75906.9297 - mae: 75906.9297 - val_loss: 70343.2734 - val_mae: 70343.2734
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 67342.2969 - mae: 67342.2969 - val_loss: 62753.3281 - val_mae: 62753.3281
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 60152.9570 - mae: 60152.9570 - val_loss: 57007.8320 - val_mae: 57007.8320
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 55173.5938 - mae: 55173.5938 - val_loss: 53434.0938 - val_mae: 53434.0938
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 52348.8867 - mae: 52348.8867 - val_loss: 51734.5938 - val_mae: 51734.5938
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 51067.6133 - mae: 51067.6133 - val_loss: 51120.0391 - val_mae: 51120.0391
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 50526.4336 - mae: 50526.4336 - val_loss: 50916.0547 - val_mae: 50916.0547
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 50308.9453 - mae: 50308.9453 - val_loss: 50828.7188 - val_mae: 50828.7188
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 50204.3711 - mae: 50204.3711 - val_loss: 50772.9922 - val_mae: 50772.9922
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 50137.5742 - mae: 50137.5742 - val_loss: 50732.6055 - val_mae: 50732.6055
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 50084.3945 - mae: 50084.3945 - val_loss: 50692.7305 - val_mae: 50692.7305
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 50039.8242 - mae: 50039.8242 - val_loss: 50658.9023 - val_mae: 50658.9023
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 50000.5938 - mae: 50000.5938 - val_loss: 50618.4102 - val_mae: 50618.4102
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 49968.9062 - mae: 49968.9062 - val_loss: 50595.8867 - val_mae: 50595.8867
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 49936.1719 - mae: 49936.1719 - val_loss: 50569.2227 - val_mae: 50569.2227
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 49907.1289 - mae: 49907.1289 - val_loss: 50532.9453 - val_mae: 50532.9453
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 49881.7852 - mae: 49881.7852 - val_loss: 50508.3750 - val_mae: 50508.3750
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 49854.0781 - mae: 49854.0781 - val_loss: 50494.1602 - val_mae: 50494.1602
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 49829.5195 - mae: 49829.5195 - val_loss: 50465.9570 - val_mae: 50465.9570
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 49807.5234 - mae: 49807.5234 - val_loss: 50452.7422 - val_mae: 50452.7422
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 49790.4922 - mae: 49790.4922 - val_loss: 50438.5586 - val_mae: 50438.5586
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 49770.3047 - mae: 49770.3047 - val_loss: 50427.6016 - val_mae: 50427.6016
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 49750.1875 - mae: 49750.1875 - val_loss: 50417.6562 - val_mae: 50417.6562
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 49731.2148 - mae: 49731.2148 - val_loss: 50399.8672 - val_mae: 50399.8672
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 49718.0781 - mae: 49718.0781 - val_loss: 50391.2070 - val_mae: 50391.2070
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49701.1953 - mae: 49701.1953 - val_loss: 50380.9141 - val_mae: 50380.9141
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 49685.4805 - mae: 49685.4805 - val_loss: 50371.9531 - val_mae: 50371.9531
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 49671.7578 - mae: 49671.7578 - val_loss: 50361.8398 - val_mae: 50361.8398
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 49659.4336 - mae: 49659.4336 - val_loss: 50350.5117 - val_mae: 50350.5117
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49646.9062 - mae: 49646.9062 - val_loss: 50349.8906 - val_mae: 50349.8906
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 49633.6094 - mae: 49633.6094 - val_loss: 50342.1055 - val_mae: 50342.1055
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49623.0859 - mae: 49623.0859 - val_loss: 50334.6250 - val_mae: 50334.6250
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 49610.5312 - mae: 49610.5312 - val_loss: 50332.7148 - val_mae: 50332.7148
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49601.6953 - mae: 49601.6953 - val_loss: 50321.9844 - val_mae: 50321.9844
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 49590.3398 - mae: 49590.3398 - val_loss: 50321.8398 - val_mae: 50321.8398
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 49579.2852 - mae: 49579.2852 - val_loss: 50325.8516 - val_mae: 50325.8516
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49573.2070 - mae: 49573.2070 - val_loss: 50316.6562 - val_mae: 50316.6562
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49564.2148 - mae: 49564.2148 - val_loss: 50315.0703 - val_mae: 50315.0703
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49556.5273 - mae: 49556.5273 - val_loss: 50314.6406 - val_mae: 50314.6406
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 49544.1055 - mae: 49544.1055 - val_loss: 50313.8242 - val_mae: 50313.8242
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 49536.3594 - mae: 49536.3594 - val_loss: 50311.9688 - val_mae: 50311.9688
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49527.0117 - mae: 49527.0117 - val_loss: 50304.9492 - val_mae: 50304.9492
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 49521.4844 - mae: 49521.4844 - val_loss: 50305.9297 - val_mae: 50305.9297
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 49514.1094 - mae: 49514.1094 - val_loss: 50305.8555 - val_mae: 50305.8555
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 49506.7266 - mae: 49506.7266 - val_loss: 50307.6016 - val_mae: 50307.6016
Epoch 51/100
250/250 [==============================] - 1s 3ms/step - loss: 49497.1758 - mae: 49497.1758 - val_loss: 50306.3047 - val_mae: 50306.3047
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 49490.4492 - mae: 49490.4492 - val_loss: 50300.0703 - val_mae: 50300.0703
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 49486.8867 - mae: 49486.8867 - val_loss: 50298.9141 - val_mae: 50298.9141
Epoch 54/100
250/250 [==============================] - 1s 3ms/step - loss: 49477.5000 - mae: 49477.5000 - val_loss: 50294.1367 - val_mae: 50294.1367
Epoch 55/100
250/250 [==============================] - 1s 3ms/step - loss: 49468.7539 - mae: 49468.7539 - val_loss: 50293.2656 - val_mae: 50293.2656
Epoch 56/100
250/250 [==============================] - 1s 3ms/step - loss: 49465.3516 - mae: 49465.3516 - val_loss: 50302.7305 - val_mae: 50302.7305
Epoch 57/100
250/250 [==============================] - 1s 3ms/step - loss: 49458.5352 - mae: 49458.5352 - val_loss: 50302.2227 - val_mae: 50302.2227
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 49453.0625 - mae: 49453.0625 - val_loss: 50304.8633 - val_mae: 50304.8633
Epoch 59/100
250/250 [==============================] - 1s 3ms/step - loss: 49449.0781 - mae: 49449.0781 - val_loss: 50311.0312 - val_mae: 50311.0312
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 49441.3672 - mae: 49441.3672 - val_loss: 50312.2344 - val_mae: 50312.2344

In [36]:
%load_ext tensorboard

In [38]:
%tensorboard --logdir regressionLOgs/fit

Reusing TensorBoard on port 6006 (pid 15948), started 0:00:05 ago. (Use '!kill 15948' to kill it.)

In [39]:
## Evaluate the model
loss, mae = model.evaluate(X_test, y_test)
print(f"Test Loss: {loss}, Test MAE: {mae}")

63/63 [==============================] - 0s 2ms/step - loss: 50293.2656 - mae: 50293.2656
Test Loss: 50293.265625, Test MAE: 50293.265625

In [40]:
# save the model 

model.save('salary_regression_model.h5')

d:\365 projects\Ann classification\ANN-Classification-Project\Ann\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(